@import 'variables';
@import 'general';
@import 'mixins';

div.collection1{
  width: 100vw;
  max-height: 120vh;
  z-index: $z-feed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h1{
    color: white;
    text-decoration: underline;
    position: absolute;
    z-index: 8;
    width: 80%;
  }
  img{
    width: 100%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 0px){
  div.collecgtion1{
    h1{
    line-height: $line-height-h1-mobile;
    color: red;
    }
  }
}
