@import 'variables';
@import 'general';
@import 'mixins';

.collection3{
  position: relative;
  height: 130vh;
  .left{
    width: 50%;
    position: absolute;
    left: 0;
    img{
      width: 100%;
    }
  }
  .right{
    width: 50%;
    right: 0;
    position: absolute;
    img{
      width: 100%;
    }
  }

}
