.music-we-love{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: url(../assets/images/music-we-love.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h2{
    position: absolute;
  }
  img{
    width: 100vw;
  }
}
