.news{
  background-color: black;
  min-height: 400px;
  position: relative;
  padding-bottom: 100px;

  h4{
    a{
      font-size: 14px;
      color: white!important;
      font-family: $font-family-p!important;
    }
  }

  .view-all{
    position: absolute;
    top: 150px;
    right: $margin-sides;
    font-size: 1.5em;
    font-family: $font-family-p;
    span{
      margin-left: 1em;
    }
  }

  h3, h4{
    color: white;
  }

  .news-nav{
    display: flex;
    justify-content: space-between;
    .news-title{
      position: absolute;
      margin-top: 150px;
      margin-left: $margin-sides;
    }
  }

  .caption{
    visibility: hidden;
    align-self: flex-end;
    padding: 0 5%;
    position: absolute;
    z-index: 10;
    bottom: 10%;
    width: 80%;
    h4{
      font-size: 16px;
    }
  }

  .active{
    .caption{
      visibility: visible;
    }
  }

  .news-items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 250px;
    padding: $margin-sides;

    .item{
      width: 30%;
      max-height: 250px;
      position: relative;
      //display: flex;

      img{
        max-width: 100%;
        max-height: 100%;
        opacity: .8;
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .news{

    .caption{
      align-self: flex-end;
      padding: 0 1em;
      position: absolute;
      z-index: 10;
      top: auto;
      bottom: 10%;
      visibility: visible;
    }
    .news-items{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .item{
        width: 50%;
        max-height: 300px;
        margin-bottom: 2em;
      }
    }
  }
}

@media screen and (max-width: $break-phone-landscape){

  .news{
    padding-bottom: 50px;
  }

  .news .news-items{
    margin-top: 200px;
  }

  .news .news-items .item {
    width: 90%;
    max-height: 300px;
    margin-bottom: 2em;
  }

  .news .news-nav .news-title {
      margin-top: 100px;
  }
  .news .view-all {
    top: 100px;
    font-family: $font-family-p;
  }
}
