.skinny{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    position: absolute;
  }
  img{
    width: 100vw;
  }
}

.music-we-love{
  min-height: 200px;
}

.mailing-list{
  min-height: 200px;

  form{
    width: 80%;
  }

  .form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label{
    h3{
      font-size: 28px;
    }
  }

  input{
    min-width: 300px;
    width: 50%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-width: 0;
  }

  button{
    height: 50px;
    width: 100px;
    background-color: black;
    border-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: $break-tablet){
  h2{
    font-size: 36px;
  }

  .mailing-list{
    .form-container{
      flex-direction: column;
      label{
        margin-bottom: 1em;
      }
      input{
        margin-bottom: 1em;
        font-size: 14px;
      }

      button{
        width: 140px;
      }
    }
  }
}

@media screen and (max-width: $break-phone-landscape){
  .skinny h2{
    font-size: 24px;
    text-align: center;
  }
}
