@import 'reset';
@import 'general';
@import 'nav';
@import 'collection1';
@import 'collection2';
@import 'collection3';
@import 'collection-page';
@import 'select';
@import 'skinny';
@import 'single';
@import 'videoblocks';
@import 'enla';
@import 'news';
@import 'footer';

html{
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.site-wrap{
  margin-top: 100px;
  transition: 1s all;
}

.parallax-mirror{
  img{
  }
}



@media screen and (max-width: 1300px){
  .site-wrap{
    transition: 1s all;
    margin-top: 80px;
  }
}
