@import 'reset';
@import 'general';
@import 'nav';
@import 'collection1';
@import 'collection2';
@import 'collection3';
@import 'skinny';
@import 'videoblocks';
@import 'enla';
@import 'news';
@import 'footer';

.site-wrap{
  margin-top: 100px;
  transition: 1s all;
}

// .parallax-mirror.active{
//   top: -70px!important;
// }

.parallax-mirror{
  img{
    // width: 100vw!important;
    // right: 0!important;
    // left: 0!important;
  }
}



@media screen and (max-width: 1300px){
  .site-wrap{
    transition: 1s all;
    margin-top: 80px;
  }

}
